body {
  height: 100%;
  background-color: #fafafa;
}

.wrapper {
  padding-top: 30px;

  .containerLeft {
    float: left;
    width: 600px;
    margin-left: 100px;

    .canvas {
      border: 5px solid grey;
    }
  }

  .containerRight {
    float: left;

    .dropZone {
      width: 400px;
      height: 100px;
      color: #f3e5f5;
      background-color: #4a148c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 50px;

      .dropZoneContent {
        padding: 10px;
        font-weight: 600;
      }
    }

    .button {
      border: 0;
      padding: 0;
      margin: 0;
      width: 200px;
      height: 50px;
      display: inline-block;
      font-weight: 600;
    }

    .button:disabled {
      background-color: #cfd8dc;
    }

    .buttonRed {
      @extend .button;
      background-color: red;
    }

    .buttonGreen {
      @extend .button;
      background-color: green;
    }

    .buttonReset {
      @extend .button;
      margin-top: 30px;
      background-color: #aa00ff;
    }
  }
}
